<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.java.xieyuntong">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/burger_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/burger_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.ScholarItemActivity"></activity>
        <activity android:name=".ui.ScholarActivity" />
        <activity android:name=".ui.EpidemicGraphActivity" />
        <activity
            android:name=".ui.CategorySettingActivity"
            android:label="@string/title_activity_category_setting" />
        <activity android:name=".ui.NewsItemActivity" />
        <activity android:name=".data.EpidemicDataActivity" />
        <activity android:name=".ui.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>